doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='CPW Vein & Aesthetic Center - Analytics')
    meta(name='author', content='CPW Vein & Aesthetic Center Analytics Team')
    meta(name='og:title', content='CPW Site Analytics')
    meta(name='og:description', content='CPW - Site Analytics')
    meta(name='og:image', content='https://www.cpwvein.com/images/logo.png')
    meta(name='theme-color', content='#ffffff')
    meta(name='robots', content='noindex, nofollow')
    meta(name='google-site-verification', content='your-google-site-verification-code')
    title !{title} - CPW Vein & Aesthetic Center"
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-TW9XHV64');
    script(rel='javascript', src='https://unpkg.com/tabulator-tables/dist/js/tabulator.min.js')
    script(rel='javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js')
    script(rel='javascript', src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.14.1/jquery-ui.min.js')
    link(rel='stylesheet', href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.14.1/themes/smoothness/jquery-ui.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://unpkg.com/tabulator-tables/dist/css/tabulator.min.css')
  body
    a(href='/')
      img.image(src='images/logo.png')
    h1= title
    block content
